.welcome{
    width: 100%;
    height: 100vh;
}
.welcome-body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.name{
    font-size: 52px;
    padding: 10px;
}

.profession{
    font-size: 18px;
    padding: 10px;
}
.mediaLinkList{
    list-style-type: none;
    display: flex;
}
.mediaLink{
    width: 40px;
    height: 40px;
    border: none;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fbd7b4;
}
@media screen and (max-width: 960px){
    .profession{
        font-size: 14px;
        padding: 5px;
    }
    .mediaLink{
        width: 25px;
        height: 25px;
        margin: 5px;
        font-size: 25px;
    }
    .name{
        width: 300px;
    }
}