.contactSectionWrapper{
    height: 80vh;
    margin: 0 auto;
    text-align: center;
    background-color: #044b4b;
    color: #FBD7B4;
}

.contactTitle{
    font-size: 40px;
    padding: 5vh;
}
.contactContainer{
    width: 80%;
    height: 80%;;
    margin: 0 0 0 auto;
    display: flex; 
    justify-content: center;
    align-content: center;
}
.contactDescription{
    background-color: #044b4b;
    flex-basis: 50%;
    margin: 40px 0;
    border-radius: 25px 0 0 25px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    border-right: none;
    box-shadow: 0 10px 30px -10px hsla(0,0%,0%,0.9);  
}
.iconBox{
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 960px){
    .contactTitle{
        font-size: 30px;
        padding-top: 5vh;
    }
}