.credentialsSectionWrapper{
    height: 80vh;
    margin: 0 auto;
    text-align: center;
    background-color: #044b4b;
    color: #FBD7B4;

}

.box{
    height: 140px;
    width: 380px;
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credentialsTitle{
    font-size: 40px;
    padding: 5vh;
}

.credentialsCardsWrapper{
    margin: 0 auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}
@media screen and (max-width: 960px){
    .credentialsSectionWrapper{
        height: 1020px;
    }
    .credentialsCardsWrapper{
        width: 90%;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        height: 85%;
        flex-wrap: no-wrap;
    }
    .credentialsTitle{
        font-size: 30px;
        padding-top: 3vh;
    }
    .box{
        width: 360px;
    }
}